<html>

<head>
    <title>
        <%= title %>
    </title>

</head>
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/style.css">
<%- style %>


    <body>
        <header>
            <%- include('header'); %>
        </header>
        <main>
            <%- body %>

        </main>
    </body>
    <%- script %>

</html>