<link rel="stylesheet" href="/css/Question.css">


<body class="question-bg-gray-100">

    <div class="question-container mx-auto p-8">
        <h1 class="question-title font-bold mb-8">
            <%= question.title %>
        </h1>

        <div class="question-details bg-white p-6 rounded-md shadow-md">
            <p class="question-text text-gray-700 mb-4">
                <%= question.questionText %>
            </p>

            <div class="question-image-preview mb-4">
                <% if (question.image) { %>
                    <img src="<%= question.image %>" alt="Question Image" class="question-image">
                    <% } %>
            </div>

            <div class="question-answer mb-4">
                <strong class="question-answer-label text-gray-800">Answer:</strong>
                <p class="question-answer-text">
                    <%= question.answer %>
                </p>
            </div>

            <p class="question-detail-text text-gray-800"><strong>Subject:</strong>
                <%= question.subject %>
            </p>
            <p class="question-detail-text text-gray-800"><strong>Topic:</strong>
                <%= question.topic %>
            </p>
            <p class="question-detail-text text-gray-800"><strong>Submit Time:</strong>
                <%= question.submitTime %>
            </p>
        </div>

        <a href="/" class="question-back-link block mt-8 text-blue-500 hover:underline">&larr; Back to All Questions</a>
    </div>